html {
  background-color: #F7F7F7;
}

@font-face {
  font-family: 'number';
  src: url(./font/number.ttf);
}

.number {
  font-family: number;
}

@font-face {
  font-family: 'japan_l';
  src: url(./font/Koruri-Light.ttf);
}

.japanese_L {
  font-family: japan_l;
  color: #707070;
}

.header_button {
  font-family: japan_l;
  font-size: large;
  color: #707070;

}

.text {
  white-space: pre-wrap;
}

@font-face {
  font-family: 'japan_b';
  src: url(./font/Koruri-Regular.ttf);
}

.japanese_B {
  font-family: japan_b;
}

.defaultButton {
  background-color: "#E6E6E6";
  box-shadow: "none"
}

.plessButton {
  background-color: "#65FFA062";
  box-shadow: "inset 0px 3px 6px #00000029";
}